:root {
    --primary: #9a8ce2;
    --bg: #130f26;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Roboto Mono", serif;
    background-color: #130f26;
    color: #130f26;
    min-height: 100vh;
}

/* Container Blog */
.blog-container {
  width: 80%;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 10px;
  color: #808080;
  margin-top: 6rem;
}

.blog-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #fff;
}

/* Search Bar */
.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.search-bar input {
  width: 100%;
  max-width: 600px;
  padding: 0.8rem;
  border-radius: 8px 0 0 8px;
  border: 1px solid var(--secondary);
  background-color: #282240;
  color: #fff;
}

.search-bar button {
  padding: 0.8rem;
  width: auto;
  height: auto;
  background-color: var(--primary);
  color: #fff;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-bar button:hover {
  background-color: #b5a8f2;
}

.custom-line {
  border: none;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 80%; /* Garis hanya 80% dari lebar container */
  margin: 20px auto; /* Auto biar tengah */
}

/* Postingan */
.post-list {
  margin-top: 2rem;
}

.post {
  background-color: #22203a;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.post:hover {
  transform: translateY(-5px);
}

.post h2 {
  color: #fff;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.post-date {
  display: block;
  margin-bottom: 1rem;
  color: var(--secondary);
  font-size: 0.9rem;
}

.post p {
  margin-bottom: 1rem;
  color: var(--text);
}

.post a {
  color: var(--primary);
  font-weight: bold;
  transition: color 0.3s;
}

.post a:hover {
  color: #b5a8f2;
}